{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .rich-image_blocks{
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .rich-image_blocks {
    overflow: auto; /* Hides scrollbar */
    scrollbar-width: none; /* For Firefox */
  }
  
  .rich-image_blocks::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, and Edge */
  }

  .rich-text__image_container{
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .rich-text__image_container img,
  .rich-text__image_container svg{
    max-width: 250px;
    min-width: 250px;
    width: 100%;
    min-height: 350px;
    max-height: 350px;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
  }

  .rich-text__image{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  .rich-text__image img,
  .rich-text__image svg{
    max-width: 50px;
    min-width: 50px;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    height: auto;
    object-fit: cover;
    border-radius: 100%;
  }

  .rich-text__image svg,
  .rich-text__image_container svg{
    border: 1px solid #ccc;
  }
  
  .rich-text__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .rich-text__content p{
    margin: 0;
    font-size: 14px;
  }

  .max-width{
    max-width: 100%!important;
  }
  
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}" style="width: 100%!important;">
      <div class="rich-text__blocks {% if section.settings.max_width %} max-width {% endif %} {{ section.settings.content_alignment }}">
        <h2
          class="rich-text__heading rte inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {{ section.settings.heading }}
        </h2>
        <div
          class="rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {{ section.settings.text }}
        </div>
        <div class="rich-image_blocks">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {% when 'image' %}
              <div class="rich-text__image_container">
                {% if block.settings.image != blank %}
                  {{ block.settings.image | image_url: width: 500 | image_tag: loading: 'lazy', class: 'style-image' }}
                {% else %}
                  {{ 'product-1' | placeholder_svg_tag }}
                {% endif %}
                <div class="rich-text__image">
                  {% if block.settings.icon != blank %}
                    {{ block.settings.icon | image_url: width: 100 | image_tag: loading: 'lazy', class: 'style-mini-image' }}
                  {% else %}
                    {{ 'image' | placeholder_svg_tag }}
                  {% endif %}
                  <div class="rich-text__content">
                    {{ block.settings.name_height }}
                    {{ block.settings.cloth_size }}
                  </div>
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
        </div>
        <div
          class="rich-text__buttons{% if section.settings.button_label != blank and section.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {%- if section.settings.button_label != blank -%}
            <a
              {% if section.settings.button_link == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ section.settings.button_link }}"
              {% endif %}
              class="button{% if section.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
            >
              {{- section.settings.button_label | escape -}}
            </a>
          {%- endif -%}
          {%- if section.settings.button_label_2 != blank -%}
            <a
              {% if section.settings.button_link_2 == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ section.settings.button_link_2 }}"
              {% endif %}
              class="button{% if section.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
            >
              {{- section.settings.button_label_2 | escape -}}
            </a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "STYLE INSPIRATION",
      "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "t:sections.rich-text.blocks.text.settings.text.default",
      "label": "t:sections.rich-text.blocks.text.settings.text.label"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label",
      "info": "t:sections.rich-text.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.rich-text.blocks.buttons.settings.button_label_1.default",
      "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
      "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "default": false,
      "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
    },
    {
      "type": "text",
      "id": "button_label_2",
      "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
      "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary_2",
      "default": false,
      "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
    },
    {
      "type": "checkbox",
      "id": "max_width",
      "default": true,
      "label": "Container full width"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Primary Image"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Profile Image"
        },
        {
          "type": "richtext",
          "id": "name_height",
          "default": "<p>Alexie 5’9”</p>",
          "label": "Model Height"
        },
        {
          "type": "richtext",
          "id": "cloth_size",
          "default": "<p>Size: L</p>",
          "label": "Wear Product Size"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Stylehint Inspiration",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
